<ion-header><ion-toolbar>
  <ion-buttons slot="start"><ion-back-button defaultHref="/auth/login"></ion-back-button></ion-buttons>
  <ion-title>Forgot password</ion-title>
</ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <h1>Reset password</h1>
  <p>Enter the email for your account. We will send a reset link if it exists.</p>
  @if (!sent) {
    <ion-item><ion-input label="Email" labelPlacement="stacked" type="email" [(ngModel)]="email"></ion-input></ion-item>
    @if (error) { <ion-text color="danger"><p>{{ error }}</p></ion-text> }
    <ion-button expand="block" class="btn-gold" (click)="submit()" [disabled]="loading">
      @if (loading) { <ion-spinner></ion-spinner> } @else { Send reset link }
    </ion-button>
  } @else {
    <p>Check your inbox for further instructions.</p>
    <ion-button expand="block" routerLink="/auth/login">Back to sign in</ion-button>
  }
</ion-content>
