<ion-header><ion-toolbar>
  <ion-buttons slot="start"><ion-back-button defaultHref="/auth/login"></ion-back-button></ion-buttons>
  <ion-title>Set new password</ion-title>
</ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <ion-item><ion-input label="New password" labelPlacement="stacked" type="password" [(ngModel)]="password"></ion-input></ion-item>
  <ion-item><ion-input label="Confirm password" labelPlacement="stacked" type="password" [(ngModel)]="confirm"></ion-input></ion-item>
  @if (error) { <ion-text color="danger"><p>{{ error }}</p></ion-text> }
  <ion-button expand="block" class="btn-gold" (click)="submit()" [disabled]="loading">
    @if (loading) { <ion-spinner></ion-spinner> } @else { Update password }
  </ion-button>
</ion-content>
