<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/tabs/account" text=""></ion-back-button></ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="load($event)"><ion-refresher-content></ion-refresher-content></ion-refresher>
  @if (loading) {
    <div class="page-pad">@for (i of [1,2,3,4]; track i) { <div class="sk" style="height:68px;margin-bottom:10px"></div> }</div>
  } @else if (error) {
    <app-empty-state icon="cloud-offline-outline" title="Couldn't load messages" [message]="error" actionLabel="Try again" (action)="load()"></app-empty-state>
  } @else if (!threads.length) {
    <app-empty-state icon="chatbubbles-outline" title="No conversations yet" message="Messages between you and the other party on a hire will show up here."></app-empty-state>
  } @else {
    <div class="page-pad">
      @for (t of threads; track t.threadID) {
        <a class="eq-card th" [routerLink]="['/tabs/messages', t.threadID]">
          <div class="av">{{ initial(t.otherParticipantName) }}</div>
          <div class="grow">
            <div class="between"><strong>{{ t.otherParticipantName }}</strong><span class="ts">{{ t.lastActivityDate | date:'d MMM' }}</span></div>
            <div class="between"><span class="pv">{{ t.messagePreview }}</span>@if (t.unreadCount) { <b class="unread">{{ t.unreadCount }}</b> }</div>
          </div>
        </a>
      }
    </div>
  }
</ion-content>
